<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	g/8FqOGyn+Wus/sr+WS/fqJiF1nUk9LLz2k31SFbo67XOWVWGp+kOOCsBamnQUiA2jbj
	dCmvKu8gsnlwYeYQpgKofCVBjYKq1qtpcGg5g6+H2ZzYwek9+s95YGYIS3D4UAyZOfP3
	8EzHT/t7PVpug5FfGOSqTW0YPcTXMyHCIEc=
	</data>
</dict>
</plist>
